@{
    ViewData["Title"] = "Usuários";
}

<div class="col d-flex justify-content-center">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">Escolha um chat</h5>
                <a asp-action="Index" asp-route-userName="Anne Caroline" class="position-relative pb-4">
                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Anne Caroline" width="40" height="40">
                    <strong>Anne Caroline</strong>

                </a>
                <br />
                <br />
                <a asp-action="Index" asp-route-userName="Frank Benício" class="position-relative">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Frank Benício" width="40" height="40">
                    <strong>Frank Benício</strong>
                </a>
            </div>
        </div>
    </div>
</div>

